.wind-arrow {
    font-size: 40px;
    width: 50px;
    height: 50px;
    transform: rotateX(180deg) rotateY(180deg);
}

.background {
    background-image: url('./assets/skyvideo.mp4');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



h1 {
    font-size: 2.5rem;
    font-family: 'Arial', sans-serif;

    position: relative;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;

    position: relative;
    display: flex;
    justify-content: center; 
}

p {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: #555;
}

.undertext {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    color: #555;
}

.location-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 3px solid #97a1ff;
    background-color: #f0f0f0;
    border-radius: 10px;
    
}